html {
  font-family: Mansalva, cursive;
  background-color: #132531;
}

.logo {
  text-decoration: none;
  color: #ceede8;
}

.nav-text {
  font-family: Spartan, sans-serif;
  color: #ceede8;
  text-decoration: none;
}

.current {
  color: #ceede8;
  text-decoration: none;
}

.nav {
  color: #ceede8;
  text-decoration: none;
}

.banner-text {
  font-family: Spartan, sans-serif;
  position: relative;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 36em;
}

.second {
  color: #132531;
  font-family: Spartan, sans-serif;
}

.banner-content {
  bottom: 0;
  align-items: flex-start;
  max-width: 45em;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  background-color: #132531;
  color: #ceede8;
  border-color: #132531;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.explain {
  position: relative;
  overflow: hidden;
  max-height: 36em;
}

.explain-content {
  bottom: 0;
  align-items: flex-start;
  max-width: 45em;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

td,
th {
  border: 4px solid transparent;
}

tbody td {
  height: 10em;
}

.panel-nav {
  background-color: #ceede8;
}

.panel {
  font-family: Spartan, sans-serif;
}

.table-wrapper {
  font-family: Spartan, sans-serif;
}

.notebook {
  opacity: .8;
}

.summary {
  border-right: solid #132531;
}

tr, .titletable, h2, h3, .end, .first, .blue {
  color: #132531;
}

.icon-label {
  font-family: Spartan, sans-serif;
}

a:hover {
  color: #c70039;
}
